[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/aditya169
[access "refs/for/refs/*"]
	read = group user/aditya169
	push = group user/aditya169
	label-Code-Review = -2..+2 group user/aditya169
	label-Verified = -1..+1 group user/aditya169
	rebase = group user/aditya169
	removeReviewer = group user/aditya169
	submit = group user/aditya169
[access "refs/heads/*"]
	read = group user/aditya169
	create = group user/aditya169
	push = +force group user/aditya169
	pushMerge = group user/aditya169
[access "refs/tags/*"]
	push = +force group user/aditya169
	pushTag = group user/aditya169
	pushSignedTag = group user/aditya169
